# Exclude development, test, and documentation folders
prune .github
prune tests

# Exclude root level configuration and build files
exclude Makefile
exclude tox.ini
exclude .gitignore

# Exclude coverage artifacts
prune htmlcov
exclude coverage.xml
exclude .coverage
