name: CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '**'
jobs:
  python-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ['3.8']
        toxenv: [quality, django32, django42]
    steps:
    - uses: actions/checkout@v2

    - name: Python setup
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install GNU gettext
      run: sudo apt install gettext

    - name: Install Requirements
      run: |
        pip install -r requirements/pip.txt
        pip install -r requirements/ci.txt

    - name: Run Tests
      run: tox -e ${{ matrix.toxenv }}

    - name: Upload coverage to CodeCov
      if: matrix.python-version == '3.8' && matrix.toxenv == 'django42'
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
